---
title: craftera digital
---

{% extends 'layouts/_layuot.twig' %}

{% block content %}
    {% include "components/_preloader.twig" %}
    {% include "components/_header.twig" %}

    <main class="homepage">
        {% include "pages/homepage/_intro.twig" %}
        {% include "pages/homepage/_menu.twig" %}
        {% include "pages/homepage/_reservation.twig" %}
        {% include "pages/homepage/_time.twig" %}

        {% include "components/_footer.twig" %}
    </main>
{% endblock %}
