---
title: Soutine
header: true
---

{% extends 'layouts/_layuot.twig' %}

{% block content %}
    {% include "components/_preloader.twig" %}

    <main class="homepage" data-page="homepage">
        {% include "pages/homepage/_intro.twig" %}
        {% include "pages/homepage/_menu.twig" %}
        {% include "pages/homepage/_reservation.twig" %}
        {% include "pages/homepage/_time.twig" %}

        {% include "components/_menu-popup.twig" %}
    </main>
{% endblock %}
