<div class="available-hours__wrapper">
    <h2 class="primary-title">{{ homepage.sections.reservation.title }}</h2>
    <div class="available-hours__description body-1">
        The following times are available for
        <span class="available-hours__persons text-bold">2 people</span>
        for <span class="available-hours__menu text-bold">Breakfast</span>
        on <span class="available-hours__time text-bold">Monday 18th March</span>
    </div>
    <form class="available-hours">
        <div class="available-hours__list"></div>
        <div class="available-hours__submit btn--default m-auto reservation-form__btn border-decoration">
            <div class="border-decoration__elem border-decoration__elem--left"></div>
            <button class="btn" type="submit">Submit</button>
            <div class="border-decoration__elem border-decoration__elem--right"></div>
        </div>
    </form>
    <button class="confirm-form__search-again">Search again</button>
</div>
