<div class="success-popup__wrapper">
    <div class="success-popup">
        <div class="success-popup__title">booking confirmed</div>
        <div class="success-popup__description body-1">
            You booked a table
            <br>
            for <span class="available-hours__persons text-bold">2 people</span>
            <br>
            for <span class="available-hours__menu text-bold">Breakfast</span>
            <br>
            on <span class="available-hours__time text-bold">Monday 18th March</span>
        </div>
        <div class="success-popup__hint">
            We look forward to meet you, in case you need any further information don’t esitate to call us
            at <a class="success-popup__link" href="tel:+44 (0)20 3926 8448">+44 (0)20 3926 8448.</a>
        </div>
        <div class="btn--default m-auto border-decoration">
            <div class="border-decoration__elem border-decoration__elem--left"></div>
            <button class="btn" type="submit">Go back</button>
            <div class="border-decoration__elem border-decoration__elem--right"></div>
        </div>
    </div>
</div>
