.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 30px;

  &--bordered {
    padding: 0;
    border-right: 2px solid $secondary-color;
    border-left: 2px solid $secondary-color;
  }
}



