.btn {
  display: block;
  text-transform: uppercase;
  font-size: 30px;
  cursor: pointer;
  border: 2px solid transparent;
  padding: 10px 45px;

  @include mq(1800px) {
    font-size: 18px;
  }

  @include mq($md) {
    font-size: 14px;
  }
}

.btn--light {
  border-color: #fff;
}

.btn--dark {
  border-color: $black-color;
}

.btn--primary {
  border-color: $primary-color;
  color: $primary-color;
}
