<div class="custom-dropdown-filter">
  <div class="custom-dropdown-filter__title">
    <h6>All</h6>
    {% include '../svg/_icon-arrow-down-thin.twig' %}
  </div>
  <ul class="custom-dropdown-filter__list">
    <li class="selected" data-fllter-item="all">All</li>
    <li data-fllter-item="ai">Ai</li>
    <li data-fllter-item="blockchain">Blockchain</li>
    <li data-fllter-item="business-model">Business model</li>
  </ul>
</div>
