<footer class="footer" role="contentinfo">
  <div class="container">
    <div class="footer__top">
      <a href="index.html" class="footer__logo">
        {% include '../svg/_logo-main.twig' %}
      </a>
      <ul class="footer__nav">
        <li><a href="enterprise-services.html">Services</a></li>
        <li><a href="our-team.html">Team</a></li>
        <li><a href="our-blog.html">Insights</a></li>
        <li><a href="contact-us.html">Contact</a></li>
      </ul>
    </div>
  </div>
  <i class="footer__br"></i>
  <div class="container">
    <div class="footer__bottom">
      <ul class="footer__rights">
        <li>© 2018, Bussmann Advisory. All Rights Reserved.</li>
        <li><a href="privacy-policy.html">Privacy Policy</a></li>
        <li><a href="imprint.html">Imprint</a></li>
      </ul>
      <ul class="footer__social">
        <li><a
              href="https://www.linkedin.com/company/bussmann-advisory/">{% include '../svg/_social-linkedin.twig' %}</a>
        </li>
        <li><a href="https://twitter.com/obussmann">{% include '../svg/_social-twitter.twig' %}</a></li>
        <li><a href="https://www.youtube.com/user/oliverbussmann">{% include '../svg/_social-youtoube.twig' %}</a></li>
      </ul>
    </div>
  </div>
</footer>
