
<div class="search-form" id="header-search-form-animate">
  <form>
    <input name="text" type="search" placeholder="Type in what you're looking for">
    <button class="button" type="submit">Search</button>
  </form>
</div>