<div class="project-for-us">
  <h2>Got a <b>project</b> for us to look at?</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque deserunt ducimus eveniet excepturi nihil,
    voluptatum.</p>
  <a href="our-contacts.html" class="button">Contact us</a>
</div>
