<div class="services-portfolio-list swiper-container">
  <div class="services-portfolio-list__arrow services-portfolio-list__arrow--prev">
    <button>{% include '../svg/_icon-arrow-down.twig' %}</button>
  </div>
  <div class="services-portfolio-list__arrow services-portfolio-list__arrow--next">
    <button>{% include '../svg/_icon-arrow-down.twig' %}</button>
  </div>
  <ul class="services-portfolio-list__ul swiper-wrapper">
    <li class="services-portfolio-list__li swiper-slide"><a target="_blank" href="https://www.sap.com"><img src="img/portfolio/sap.jpg" alt="portfolio image"></a></li>
    <li class="services-portfolio-list__li swiper-slide"><a target="_blank" href="https://www.capgemini.com"><img src="img/portfolio/capgemini.jpg" alt="portfolio image"></a></li>
    <li class="services-portfolio-list__li swiper-slide"><a target="_blank" href="https://www.redhat.com"><img src="img/portfolio/redhat.jpg" alt="portfolio image"></a></li>
    <li class="services-portfolio-list__li swiper-slide"><a target="_blank" href="https://www.cisco.com"><img src="img/portfolio/cisco.jpg" alt="portfolio image"></a></li>
    <li class="services-portfolio-list__li swiper-slide"><a target="_blank" href="https://www.bancsabadell.com"><img src="img/portfolio/sabadell.jpg" alt="portfolio image"></a></li>
    <li class="services-portfolio-list__li swiper-slide"><a target="_blank" href="https://www.nationwide.co.uk"><img src="img/portfolio/nationwide.jpg" alt="portfolio image"></a></li>
    <li class="services-portfolio-list__li swiper-slide"><a target="_blank" href="https://www.akbank.com"><img src="img/portfolio/akbank.jpg" alt="portfolio image"></a></li>
  </ul>
</div>
