<section class="subscribe">
  <div class="container">
    <div class="subscribe__inner">
      <label for="subscribe-block-input"><h2>Keep up with the <b>latest updates</b> from us</h2>
      </label>
      <form>
        <input id="subscribe-block-input" type="email" name="email" required placeholder="Email">
        <button class="button" type="submit">Send</button>
      </form>
    </div>
  </div>
</section>
