.available-hours {
  width: 100%;
  margin: 0 auto;

  &__wrapper {
    width: 100%;
  }

  &__description {
    margin-bottom: 30px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 12px 60px;
    text-align: center;

    @include mq($md) {
      margin-bottom: 30px;
    }

  }

  &__item {
    width: 20%;
    padding: 0 12px;
    font-size: 16px;
    letter-spacing: 0.03em;
    font-family: $brand-font-1;
    margin-bottom: 15px;

    @include mq($lg) {
      width: 25%;
    }

    @include mq($md) {
      width: 50%;
    }
  }

  &__btn {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 12px 20px;
    border: 2px solid $border-color;
    cursor: pointer;
    transition: background-color 0.4s;

    &:hover {
      background: rgba($secondary-color, 0.2);
    }

    &.active {
      background: rgba($secondary-color, 0.4);
    }
  }

  &__submit {
    display: block;
    margin: 0 auto;
    max-width: 280px;
  }
}
