.success-popup {

    &__title {
        margin-bottom: 35px;
        font-family: $brand-font-2;
        font-size: 26px;
        letter-spacing: 0.02em;
        line-height: 1.45;
        text-transform: uppercase;
    }

    &__description {
        max-width: 180px;
        margin: 0 auto 35px;
    }

    &__hint {
        line-height: 1.625;
        margin: 0 auto 50px;
        max-width: 650px;
    }

    &__link {
        display: inline-block;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            bottom: -4px;
            width: 100%;
            height: 1px;
            background: $secondary-color;
            right: 20px;
        }
    }
}
