.homepage-intro {

  &__img {
    margin: 0 auto;
    width: 80%;
    padding-top: 40px;

    img {
      display: block;
    }
  }

  &__text {
    text-align: center;
    padding-bottom: 90px;
  }

  &__title {
    margin: 25px auto 20px;
    max-width: 290px;
  }

  &__description {
    max-width: 620px;
    margin: 0 auto 30px;
  }

  &__spacer {
    margin: 30px 0 20px;
  }

  &__reservation {
    margin: 0 auto;
    max-width: 170px;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

}
