.homepage-menu {

  &__inner {
    padding: 95px 0 80px;
  }

  &__body {
    max-width: 840px;
    margin: 0 auto;
  }

  &__tabs-wrapper {
    margin: 0 auto 60px;
    width: 100%;

    @include mq($md) {
      display: none;
    }
  }

  &__tabs {
    display: flex;
    width: 100%;
    padding: 15px 0;
    font-family: $brand-font-2;
  }

  &__tab {
    width: 33.333%;
    cursor: pointer;
    font-size: 22px;
    text-transform: uppercase;
    color: rgba($secondary-color, 0.4);
    border-right: 2px solid rgba($secondary-color,0.2);
    transition: color 0.3s;

    &:last-child {
      border-right: none;
    }

    &--active {
      color: rgba($secondary-color, 1);
    }
  }

  &__title {
    margin: 0 auto 30px;
    max-width: 485px;
  }

  &__info{
    font-size: 18px;
    line-height: 1.22;
    margin-bottom: 1em;
    letter-spacing: 0.02em;
    font-family: $brand-font-2;
  }

  &__show-menu {
    display: inline-block;
    max-width: 190px;

    &:hover {
      text-decoration: underline;
    }
  }
}

.menu-slider {
  position: relative;
  max-width: 890px;
  margin: 90px auto 0;

  &__mask {
    width: 100%;
    pointer-events: none;
    position: relative;
    z-index: 1;

    svg {
      width: 100%;
      display: block;
    }
  }

  &__list {
    position: absolute;
    width: 100%;
    height: 100%;

    .swiper-wrapper {
      height: 100%;
    }
  }

  &__item {
    height: 100%;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__pagination {
    display: flex;
    justify-content: center;
    margin-top: 35px;

    .swiper-pagination-bullet {
      height: 3px;
      width: 19px;
      margin: 0 10px;
      background: $secondary-color;
      display: block;
      cursor: pointer;
      opacity: 0.2;
      transition: opacity 0.4s;
      border-radius: 0;

      &:hover {
        opacity: 0.8;
      }
    }

    .swiper-pagination-bullet-active {
      opacity: 1 !important;
    }
  }
}
