.homepage-time {
    &__inner {
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin: 0 auto;
        padding: 95px 0;

        @include mq($xl) {
            width: 100%;
            flex-wrap: wrap;
        }
    }

    &__description {
        width: 30%;
        text-align: center;
        font-family: $brand-font-3;

        @include mq($lg) {
            width: 100%;
            order: 1;
            margin-top: 30px;
        }
    }

    &__clock {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include mq($lg) {
            width: 100%;
            margin-bottom: 30px;
        }
    }

    &__item {
        font-size: 20px;
        letter-spacing: 0;
        line-height: 1.7;
    }

    &__schedule {
        margin-bottom: 2em;
    }

    &__clock-description {
        margin-top: 24px;
        font-size: 22px;
        letter-spacing: 0.02em;
        line-height: 1.3;
        font-family: $brand-font-2;
    }

    &__watch-map {
        position: relative;
        display: inline-block;
        margin-top: 1.5em;
        font-size: 14px;
        line-height: 1.6;
        letter-spacing: 0.03em;
        font-family: $brand-font-1;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background: $secondary-color;
        }
    }
}

.custom-clock {
    position: relative;
    width: 230px;
    height: 230px;

    .clock-svg {
        width: 230px;
        height: 230px;
    }

    &__arrow {
        position: absolute;
        bottom: 50%;
        left: 50%;

    }

    &__minute {
        margin-left: -9px;
        margin-bottom: -8px;
        transform-origin: 50% 97px;
        transform: rotate(0deg);
        transition: transform 0.9s;

        svg {
            display: block;
            width: 18px;
            height: 105px;
        }
    }

    &__hour {
        margin-bottom: -6px;
        margin-left: -15px;
        transform: rotate(0deg);
        transform-origin: 50% 66px;
        transition: transform 0.9s;

        svg {
            display: block;
            width: 30px;
            height: 72px;
        }
    }
}


