<div class="homepage-intro__container container">
    <div class="homepage-intro">
        <div class="homepage-intro__heading">
            <span class="homepage-intro__subtitle homepage-intro__subtitle--upper white-color">
                {{ intro.aboveTitle }}
            </span>
            <h2 class="homepage-intro__title">{{ intro.title }}</h2>
            <span class="homepage-intro__subtitle homepage-intro__subtitle--down white-color">
                {{ intro.underTitle }}
            </span>
        </div>
    </div>
</div>
