<div class="slide-flex-container">
    <div class="homepage-about-us container">
        <div class="homepage-about-us__container">
            <div class="homepage-about-us__body">
                <div class="corner corner--left-top"></div>
                <div class="corner corner--right-top"></div>
                <h2 class="primary-title">{{ aboutUs.title }}</h2>
                <div class="homepage-about-us__subtitle">{{ aboutUs.subtitle }}</div>
                <p class="homepage-about-us__text">{{ aboutUs.description }}</p>
                <button class="btn primary-btn homepage-about-us__btn">Our works</button>
                <div class="corner corner--left-bottom"></div>
                <div class="corner corner--right-bottom"></div>
            </div>
        </div>
    </div>
</div>
