<section class="homepage-intro__container container">
    <div class="homepage-intro">
        <div class="canvas-stars"></div>
        <div class="homepage-intro__heading">
            <div class="homepage-intro__subtitle homepage-intro__subtitle--upper white-color">
                {{ intro.aboveTitle }}
            </div>
            <h2 class="homepage-intro__title">{{ intro.title }}</h2>
            <div class="homepage-intro__subtitle homepage-intro__subtitle--down white-color">
                {{ intro.underTitle }}
            </div>
        </div>
    </div>
</section>
