{% import "data/homepage.twig" as homepage %}

<section class="homepage-intro" id="about">
    <div class="container container--bordered">
        <figure class="homepage-intro__img">
            <img src="./img/intro.jpg" alt="">
        </figure>
        <div class="homepage-intro__text">
            <h1 class="homepage-intro__title primary-title">{{ homepage.sections.intro.title }}</h1>
            <p class="homepage-intro__description body-1">{{ homepage.sections.intro.description }}</p>
            <div class="homepage-intro__spacer">
                {% include "svg/_spacer.twig" %}
            </div>
            <p class="homepage-intro__reservation primary-subtitle">{{ homepage.sections.intro.reserve }}</p>
        </div>
    </div>
    <div class="bordered-container">
        <figure class="homepage-intro__footer">
            <img src="./img/humans.jpg" alt="">
        </figure>
    </div>
</section>
