{% import "data/homepage.twig" as homepage %}

<section class="homepage-intro" id="about" data-section="about">
    <div class="container container--bordered">
        <figure class="homepage-intro__img">
            <img src="./img/intro.jpg" alt="">
        </figure>
        <div class="homepage-intro__text text-center">
            <div class="cms-container">
                <h1>{{ homepage.sections.intro.title }}</h1>
                <p>{{ homepage.sections.intro.description }}</p>
            </div>
            <div class="homepage-intro__spacer">
                {% include "svg/_spacer.twig" %}
            </div>
            <button class="homepage-intro__reservation primary-subtitle">{{ homepage.sections.intro.reserve }}</button>
        </div>
    </div>
    <div class="bordered-container">
        <figure class="homepage-intro__footer">
            <img src="./img/humans.jpg" alt="">
        </figure>
    </div>
</section>
