<div class="border-decoration primary-border">
    <div class="border-decoration__elem border-decoration__elem--left"></div>
    {% block content %}{% endblock %}
    <div class="border-decoration__elem border-decoration__elem--right"></div>
</div>
