{% import "data/homepage.twig" as homepage %}

<footer class="footer" role="contentinfo">
    <div class="footer__info">
        <div class="container">
            <div class="footer__list">
                <div class="footer__item footer__item--info">
                    <div class="footer__contacts">
                        <div class="footer__logo">
                            {{ logo.logo() }}
                        </div>
                        <a class="footer__tel">{{ homepage.sections.contacts.tel }}</a>
                        <a href="" class="footer__email">{{ homepage.sections.contacts.email }}</a>
                        <div class="footer__address">{{ homepage.sections.contacts.address }}</div>
                    </div>
                </div>
                <div class="footer__item footer__item--category">
                    <ul class="footer__item-links">
                        <li>
                            <a href="" class="footer__item-link">Legal</a>
                        </li>
                        <li>
                            <a href="" class="footer__item-link">Recruitment</a>
                        </li>
                        <li>
                            <a href="" class="footer__item-link">Press</a>
                        </li>
                        <li>
                            <a href="" class="footer__item-link">Our Restaurants</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__item footer__item--newsletter">
                    <div class="newsletter">
                        <div class="newsletter__title italic">Signup for our newsletter</div>
                        <form class="newsletter__form">
                            <input class="newsletter__input form__input" placeholder="Enter address">
                            <button class="newsletter__submit">
                                {% include "svg/_arrow-right.twig" %}
                            </button>
                        </form>
                        <div class="newsletter__social">
                            <a class="newsletter__social-link" href="">{% include "svg/_social-intagram.twig" %}</a>
                            <a class="newsletter__social-link" href="">{% include "svg/_social-facebook.twig" %}</a>
                            <a class="newsletter__social-link" href="">{% include "svg/_social-twitter.twig" %}</a>
                        </div>
                    </div>
                </div>
                <div class="footer__item footer__item--properties">
                    <div class="soutine-properties">
                        <div class="soutine-properties__title">Our Properties</div>
                        <p class="soutine-properties__description">
                            A collection of restaurants, cafés & brasseries from the restaurateurs Chris Corbin and Jeremy King.
                            <a href="http://localhost:3000/properties.html">View Portfolio</a>
                        </p>
                        <div class="soutine-properties__logos swiper-container">
                            <div class="swiper-wrapper">
                                <div class="soutine-properties__logo swiper-slide">
                                    <img src="./img/zedel.png" alt="">
                                </div>
                                <div class="soutine-properties__logo swiper-slide">
                                    <img src="./img/zedel.png" alt="">
                                </div>
                                <div class="soutine-properties__logo swiper-slide">
                                    <img src="./img/zedel.png" alt="">
                                </div>
                                <div class="soutine-properties__logo swiper-slide">
                                    <img src="./img/zedel.png" alt="">
                                </div>
                                <div class="soutine-properties__logo swiper-slide">
                                    <img src="./img/zedel.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="soutine-properties__pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="footer__additional-info">
            <div class="footer__company">© BRASSERIE ZÉDEL</div>
            <div class="footer__privacy">
                <a href="#" class="footer__privacy-item">Cookies & Privacy</a>
                <a href="/terms-and-conditions.html" class="footer__privacy-item">Terms & Conditions</a>
            </div>
            <address class="footer__developers">Website by <a class="footer__developers-link" href="">DiffusionDigital</a></address>
        </div>
    </div>
</footer>
