{% import "data/navigation.twig" as navigation %}

<header class="header">

    <div class="header__logo">
        {{ logo.logo() }}
    </div>
    <div class="header__nav-wrapper">
        <nav class="header__nav">
            <div class="container">
                <div class="header__burger">
                    <button class="header__burger-btn">
                        {% include "svg/_burger.twig" %}
                    </button>
                </div>
            </div>
            <div class="header__list-container container">
                <ul class="header__list">
                    {% for item in navigation.navigation %}
                        <li class="header__item {% if loop.first %} header__item--active {% endif %}">
                            <a class="header__link" href="{{ item.link }}">
                                {{ item.title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </nav>
    </div>
</header>
