<div class="header-return">
    <div class="header-return__container container">
        <a class="header-return__link" href="/" >
            Go back
            <span class="header-return__arrow-left arrow-icon">
                {% include "svg/_arrow-left.twig" %}
            </span>
        </a>
    </div>
</div>
