{% set
    termsConditions = {
        title: 'Terms and conditions',
        description: '<p>The Website Terms of Use, Privacy Policy and Sale of Goods Terms are together referred to as the "Terms and Conditions". Your use of the Wolseley.com website owned and operated by Corbin & King Restaurant Group Limited ("we" or "us") ("the Website") and your relationship with us is governed by the following Terms and Conditions. Please read these Terms and Conditions carefully. If you do not agree to these Terms and Conditions please do not use the Website. By using this Website you are accepting these Terms and Conditions in their entirety and agree to be bound by them.</p><p>We reserve the right to amend these Terms and Conditions from time to time. Any changes will be notified to you via a suitable announcement on the Website and/or by email. The changes will apply to use of the Website after we have given notice. If you do not wish to accept the new Terms and Conditions you should not continue to use the Website. If you continue to use the Website after the date on which the change comes into effect, your use of the Website indicates your agreement to be bound by the new Terms and Conditions.</p>',
        itemList: [
            {
                title: 'Website terms of use',
                body: ''
            },
            {
                title: 'Copyright & trademarks',
                body: '<p>Please note that the content of the Website, including text, graphics, trade names, icons, images and software, is the property of Corbin & King Restaurant Group Limited or our third party licensors and is protected by copyright, trademarks and other intellectual property rights. Permission is given to retrieve and display the content of the Website on a computer screen and electronically copy and print hard copy portions of the Website for you own personal, non-commercial use for the sole purpose of placing an order for goods with us or for use as a shopping resource. You may not otherwise reproduce, modify, distribute, transmit, publish or display any other materials or content on the Website without our prior written permission.</p>'
            },
            {
                title: 'Website use',
                body: ''
            },
            {
                title: 'Website availability',
                body: ''
            },
            {
                title: 'Miscellaneous',
                body: ''
            },
            {
                title: 'Privacy policy',
                body: ''
            },
            {
                title: 'Use of cookies',
                body: ''
            },
            {
                title: 'Sale of goods terms',
                body: ''
            },
            {
                title: 'E-vouchers',
                body: ''
            },
            {
                title: 'Credit card security',
                body: '<p>All our payment transactions are conducted through the secure payment services of SagePay Direct ("SagePay"). With security and service at the heart of the business, SagePay ensures that the transaction process is a safe and secure one.<p>
                <h2>Transaction Encryption & Data Storage</h2>
                <p>Every transaction is encrypted to the highest global standards and once on SagePay`s systems, all sensitive data is secured beyond the levels demanded by the payments authorities and card schemes. SagePay`s systems are audited annually to ensure it maintains level 1 - the highest level - compliance with the Payment Card Industry Data Security Standards (PCI DSS). SagePay is also an active member of the PCI Security Standards Council (SSC) that defines card industry global regulation. SagePay`s systems are scanned quarterly by Trustwave which is an independent Qualified Security Assessor (QSA) and an Approved Scanning Vendor (ASV) for the payment card brands.<p>
                <h2>Security for Our Customers</h2>
                <p>Any communication between you and SagePay is also encrypted to the maximum strength supported by your browser. You are also protected from fraudulent use of their card in a "card not present" environment, by your card issuer. Your card issuer provides the right for you to dispute a transaction if the goods do not arrive or if the card was used fraudulently.<p>'
            }
        ]

    }
%}


