.form {
  font-size: 30px;

  &__input {
    display: block;
    width: 100%;
    border: 2px solid $black-color;
    padding: 8px 10px;
    margin-bottom: 15px;
    font-size: inherit;

    &:last-child {
      margin-bottom: 0;
    }

    &::placeholder {
      font-weight: 300;
    }
  }

  &__textarea {
    height: 135px;
  }
}
