.form {

  &__input {
    display: block;
    border: none;
    background: none;
    border-bottom: 2px solid $secondary-color;
    padding: 10px 13px;
    font-size: inherit;

    &:last-child {
      margin-bottom: 0;
    }

    &::placeholder {
      font-weight: 300;
      font-size: 14px;
    }

    @include mq($lg) {
      padding: 5px 8px;
    }

  }

  &__textarea {
    height: 135px;

    @include mq($sm) {
      height: 100px;
    }
  }
}
