.card {
    padding: 10px 8px;
    background: $bg-color;
    margin: 0 auto;

    &--default {
        width: 70%;

        @include mq($md) {
            width: 90%;
        }

        @include mq($sm) {
            width: 100%;
        }
    }

    &__inner {
        border: 2px solid $secondary-color;
    }
}
