.footer {

    &__container {
        max-width: 1600px;
        margin: 0 auto;
    }

    &__logo {
        margin-bottom: 25px;

        svg {
            width: 142px;
            height: 87px;
        }
    }

    &__info {
        border-top: 2px solid rgba($secondary-color, 0.2);
        border-bottom: 2px solid rgba($secondary-color, 0.2);
    }

    &__list {
        display: flex;

        @include mq($xl) {
            flex-wrap: wrap;
        }

        @include mq($md) {
            padding: 20px 0;
        }
    }

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 26.66666%;
        padding: 50px 0 60px;
        text-align: center;
        border-right: 2px solid $border-color;

        @include mq($xl) {
            padding: 40px 0 30px;
        }

        @include mq($xl) {
            width: 50%;
        }

        @include mq($md) {
            width: 100%;
        }

        &:last-child {
            border-right: none;
        }

        &:nth-child(n) {

            @include mq($md) {
                border-right: none;
                padding-right: 0;
                padding-left: 0;
            }
        }

        @include mq($lg) {
            padding: 40px 0;
        }

        &--info {
            width: 22%;

            @include mq($xl) {
                padding-right: 30px;
            }
        }

        &--category {
            width: 23%;

            @include mq($xl) {
                order: 2;
                padding-right: 30px;
            }
        }

        &--newsletter {
            width: 28%;

            @include mq($xl) {
                order: 1;
                padding-left: 30px;
                border-right: none;
            }

            @include mq($md) {
                margin-top: 20px;
            }

        }

        &--properties {
            width: 27%;

            @include mq($xl) {
                order: 3;
                padding-left: 30px;
                border-right: none;
            }
        }

    }

    &__contacts {
        font-size: 13px;
        font-weight: 500;
        max-width: 200px;
        margin-right: auto;

        @include mq($xl) {
            margin: 0 auto;
        }
    }

    &__contacts-link {
        &:hover {
            text-decoration: underline;
        }
    }

    &__tel, &__email {
        display: block;
        margin: 15px 0;
    }

    &__address {
        line-height: 1.4;
    }

    &__item-link {
        display: block;
        margin: 1.5em 0;
        font-size: 13px;
        letter-spacing: 0.055em;
        font-weight: 500;
    }

    &__additional-info {
        display: flex;
        justify-content: space-between;
        padding: 30px 0;
        font-weight: 600;
        font-size: 12px;
        letter-spacing: 0.03em;

        @include mq($md) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &__company {
        @include mq($md) {
            order: 1;
            margin: 20px 20px 0;
        }
    }

    &__privacy {
        display: flex;
        justify-content: space-between;
        max-width: 300px;
        width: 100%;
        font-weight: 500;
        letter-spacing: 0.06em;

        @include mq($md) {
            width: 100%;
            max-width: none;
            justify-content: center;
        }
    }

    &__privacy-item {
        display: inline-block;
        margin: 0 20px;
        white-space: nowrap;

        &:hover {
            text-decoration: underline;
        }
    }

    &__developers {
        font-weight: 500;

        @include mq($md) {
            order: 2;
            margin: 20px 20px 0;
        }
    }

    &__developers-link {
        font-weight: 600;

        &:hover {
            text-decoration: underline;
        }
    }
}

.newsletter {
    max-width: 240px;
    width: 100%;

    &__title {
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 0.1em;
        margin-bottom: 25px;
    }

    &__social {
        margin-top: 30px;
        display: flex;
        justify-content: center;
    }

    &__form {
        position: relative;
    }

    &__submit {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }

    &__input {
        font-size: 13px;
        letter-spacing: 0.05em;
        border-bottom-width: 1px;
        width: 100%;
        padding-right: 35px;

        @include mq($md) {
            margin-bottom: 8px;
        }
    }

    &__social-link {
        display: block;
        margin: 0 14px;

        svg {
            fill: $secondary-color;
            opacity: 0.4;
            transition: opacity 0.4s;

            &:hover {
                opacity: 1;
            }
        }
    }
}

.soutine-properties {
    max-width: 260px;
    margin-left: auto;

    @include mq($xl) {
        margin: 0 auto;
    }

    &__title {
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 0.1em;
        margin-bottom: 15px;
    }

    &__logos {
        display: inline-block;
        width: 75px;
        margin-top: 20px;
    }

    &__description {
        font-size: 12px;
        letter-spacing: 0.03em;
        line-height: 1.8;

        a {
            font-weight: 600;
            text-decoration: underline;
        }
    }

    &__pagination {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 20px;

        .swiper-pagination-bullet {
            width: 6px;
            height: 3px;
            margin: 0 4px;
            background: $secondary-color;
            opacity: 0.4;
            border-radius: 0;
        }

        .swiper-pagination-bullet-active {
            opacity: 1;
        }
    }
}
