.footer {

    &__container {
        max-width: 1600px;
        margin: 0 auto;
    }

    &__logo {
        margin-bottom: 25px;

        svg {
            width: 142px;
            height: 87px;
        }
    }

    &__info {
        border-top: 2px solid rgba($secondary-color, 0.2);
        border-bottom: 2px solid rgba($secondary-color, 0.2);
    }

    &__list {
        display: flex;
    }

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 26.66666%;
        padding: 50px 0 60px;
        text-align: center;
        border-right: 2px solid rgba($secondary-color, 0.2);

        &:last-child {
            border-right: none;
        }

        &--info {
            width: 22%;
        }

        &--category {
            width: 23%;
        }

        &--newsletter {
            width: 28%;
        }

        &--properties {
            width: 27%;
        }

    }

    &__contacts {
        font-size: 13px;
        font-weight: 500;
        max-width: 200px;
        margin-right: auto;
    }

    &__tel, &__email {
        display: block;
        margin: 15px 0;
    }

    &__address {
        line-height: 1.4;
    }

    &__item-link {
        display: block;
        margin: 1.5em 0;
        font-size: 13px;
        letter-spacing: 0.055em;
        font-weight: 500;
    }

    &__additional-info {
        display: flex;
        justify-content: space-between;
        padding: 30px 0;
        font-weight: 600;
        font-size: 12px;
        letter-spacing: 0.03em;
    }

    &__privacy {
        display: flex;
        justify-content: space-between;
        max-width: 300px;
        width: 100%;
        font-weight: 500;
        letter-spacing: 0.06em;
    }

    &__privacy-item {
        display: inline-block;
        margin: 0 10px;
    }

    &__developers {
        font-weight: 500;
    }

    &__developers-link {
        font-weight: 600;

        &:hover {
            text-decoration: underline;
        }
    }
}

.newsletter {
    max-width: 240px;
    width: 100%;

    &__title {
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 0.1em;
        margin-bottom: 25px;
    }

    &__social {
        margin-top: 30px;
        display: flex;
        justify-content: center;
    }

    &__form {
        position: relative;
    }

    &__submit {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }

    &__input {
        font-size: 13px;
        letter-spacing: 0.05em;
        border-bottom-width: 1px;
        width: 100%;
        padding-right: 35px;
    }

    &__social-link {
        display: block;
        margin: 0 14px;

        svg {
            fill: $secondary-color;
            opacity: 0.4;
            transition: opacity 0.4s;

            &:hover {
                opacity: 1;
            }
        }
    }
}

.soutine-properties {
    max-width: 260px;
    margin-left: auto;

    &__title {
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 0.1em;
        margin-bottom: 15px;
    }

    &__logo {
        display: inline-block;
        width: 75px;
        margin-top: 20px;
    }

    &__description {
        font-size: 12px;
        letter-spacing: 0.03em;
        font-weight: 400;
        line-height: 1.8;

        a {
            font-weight: 600;
            text-decoration: underline;
        }
    }

    &__pagination {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 20px;
    }

    &__pagination-item {
        width: 6px;
        height: 3px;
        margin: 0 4px;
        background: $secondary-color;
        opacity: 0.4;

        &--active {
            opacity: 1;
        }
    }
}
