$burger-breakpoint: 1280px;

.header {
    padding-top: 30px;
    z-index: 100;

    &__logo {
        display: flex;
        justify-content: center;
        margin-bottom: 25px;

        svg {
            @include mq($burger-breakpoint) {
                width: 160px;
                height: 99px;
            }
        }
    }

    &__nav-wrapper {
        position: relative;
    }

    &__nav {
        position: relative;
        padding: 12px 0;
        border-top: 2px solid $border-color;
        border-bottom: 2px solid $border-color;
        font-family: $brand-font-2;

        &--sticky {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
        }

        &--hidden {
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
        }

        &--fixed {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            background: $bg-color;
            z-index: 50;
        }
    }

    &__nav-container {
        position: relative;
    }

    &__list-container {
        transition: opacity 0.4s;

        &--sticky {

            right: 0;
            margin: 0 auto;
        }

        &--fake {
            opacity: 0;
            visibility: hidden;
            pointer-events: none;

            @include mq($burger-breakpoint) {
                display: none;
            }
        }

        @include mq($burger-breakpoint) {
            position: absolute;
            width: 100%;
            top: calc(100% + 2px);
            left: 0;
            padding-right: 0;
            padding-left: 0;
            background: $bg-color;
            border-bottom: 2px solid $border-color;
            opacity: 0;
            pointer-events: none;

            &--active {
                opacity: 1;
                pointer-events: auto;
            }
        }
    }

    &__list {
        max-width: 1100px;
        margin: 0 auto;
        display: flex;
        justify-content: center;

        @include mq($burger-breakpoint) {
            flex-direction: column;
            max-width: none;
            padding-top: 20px;
            padding-bottom: 30px;
        }
    }

    &__item {
        padding: 8px 20px;
        font-size: 18px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        white-space: nowrap;
        border-right: 2px solid rgba(#5f4638, 0.1);
        margin-left: -1px;

        &:last-child {
            border-right: none;
        }

        &::before, &::after {
            display: inline-block;
            content: '';
            width: 31px;
            height: 6px;
            background: url("../img/link-left-curve.svg");
            vertical-align: middle;
            transition: opacity 0.4s;
            opacity: 0;
            margin-top: -0.1em;
        }

        &::before {
            background: url("../img/link-left-curve.svg");
            margin-right: 10px;
        }

        &::after {
            margin-left: 10px;
            background: url("../img/link-right-curve.svg");
        }

        &--active {
            &::before, &::after {
                opacity: 1;
            }
        }

        @include mq($burger-breakpoint) {
            border-right: none;
            text-align: center;
        }
    }

    &__link {
        display: inline-block;
        padding-top: 0.4em;
        vertical-align: middle;

        @include mq($burger-breakpoint) {
            padding: 10px 0;
        }
    }

    &__burger {
        display: none;

        @include mq($burger-breakpoint) {
            display: flex;
            justify-content: center;
        }
    }
}
