.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 30px;

    &__logo {
        display: flex;
        justify-content: center;
        margin-bottom: 25px;
    }

    &__nav {
        padding: 18px 0;
        border: 2px solid rgba(#5f4638, 0.1)
    }

    &__list {
        max-width: 1100px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

    &__item {
        padding: 8px 20px;
        font-size: 18px;
        text-transform: uppercase;
        white-space: nowrap;
        border-right: 2px solid rgba(#5f4638, 0.1);
        margin-left: -1px;

        &:last-child {
            border-right: none;
        }

        &::before, &::after {
            display: inline-block;
            content: '';
            width: 31px;
            height: 6px;
            background: url("../img/link-left-curve.svg");
            vertical-align: middle;
            transition: opacity 0.4s;
            opacity: 0;
            margin-top: -0.1em;
        }

        &::before {
            background: url("../img/link-left-curve.svg");
            margin-right: 10px;
        }

        &::after {
            margin-left: 10px;
            background: url("../img/link-right-curve.svg");
        }

        &--active {
            &::before, &::after {
                opacity: 1;
            }
        }
    }
}
