.logo {

  &__top {
    font-size: 64px;
    color: $primary-color;
  }

  &__word {
    line-height: 1;
    text-transform: uppercase;
  }

  &__bottom {
    font-size: 55px;
    margin-top: -0.1em;

    &[data-theme="light-theme"] {
      color: #fff;
    }

    &[data-theme="dark-theme"] {
      color: $black-color;
    }
  }
}
