.logo {

  &__svg {
    height: 100px;
  }

  &__top {
    fill: $primary-color;
  }

  &__bottom {

    &[data-theme="light"] {
      fill: #fff;
    }

    &[data-theme="dark"] {
      fill: $black-color;
    }
  }
}
