.menu-popup {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: $bg-color;
    height: 100%;
    overflow: hidden;
    opacity: 0;
    z-index: -1;
    pointer-events: none;

    &__header {
        padding: 20px 0;
        border-bottom: 2px solid $border-color;
    }

    &__container {
        position: relative;

        @include mq($xl) {
            display: flex;
            justify-content: space-between;
        }
    }

    &__scroll {
        height: 100%;
        overflow: auto;
        padding-bottom: 60px;
    }

    &__list {
        display: flex;
        justify-content: center;
        font-family: $brand-font-2;
        padding: 0 40px;

        @include mq($xl) {
            display: none;
        }
    }

    &__item {
        border-right: 2px solid $border-color;

        &:last-child {
            border-right: none;
        }

        &--active {
            .menu-popup__btn {
                opacity: 1;
            }
        }
    }

    &__btn {
        display: block;
        padding: 0.4em 50px 0;
        font-size: 18px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        opacity: 0.4;
        transition: opacity 0.4s;
        cursor: pointer;

        &:hover {
            opacity: 0.8;
        }
    }

    &__mobile-dropdown {
        @include mq($xl) {
            display: block;
        }
    }

    &__gallery {
        margin: 40px auto 0;
    }

    &__close {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 30px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;

        @include mq($xl) {
            position: relative;
            transform: translateY(0);
            top: 0;
            left: 0;
        }
    }

    &__download {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;

        @include mq($xl) {
            position: relative;
            transform: translateY(0);
            top: 0;
            left: 0;
        }
    }
}
